/*------------------------
Name: Nathaniel Llacuna
Professor: Arthur Hendela
Due Date: 4/29/2022 6:35pm
Last Updated: 4/21/2022
 -------------------------*/

body {
    /*background-color: whitesmoke;*/
    background-color: white;
    font-family: Futura;
}

/*----------------------- Header -----------------------*/

header {
    background-color: white;
    border-bottom-color: black;
}

/*Company Logo/name*/
.navbar-brand {
    margin-left: 10px;
    color: #310250;
    font-weight: bold;
}

/*Nav Bar Styles*/
header .nav-link {
    /*color: #1D3124;*/
    color: #310250;
}

header .navbar-toggler-icon img {
    padding-top: 5px;
    z-index: -1;
}

/*Drop Down Menu*/
header .dropdown-menu {
    background-color: white;
}

.social img {
    padding-right: 5px;

}
/*-----------------------        -----------------------*/

/*----------------------- Carousel -----------------------*/
.car {
    margin-bottom: 10px;
}
.carousel-inner img {
    height: 450px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*width: 200px;*/
}

.carousel-inner .container-sm > h2 {
    position: absolute;
    top: 30px;
    left: 20px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: transparent;
    color: black;
    font-weight: bold;

}

.carousel-inner .container-sm > p {
    position: absolute;
    top: 80px;
    left: 20px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: transparent;
    color: black;
    font-style: italic;

}
/*-----------------------       -----------------------*/

/*-----------------------   4 Box Panel    -----------------------*/

.panel {
    /*height: 310px;*/
    position: static;
    margin-top: 50px;
    align-content: center;
    background-color: white;
}

.panel h2 {
    font-weight: bolder;
    color: #310250;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    background-color: white;
}

.box1, .box2, .box3, .box4{
    /*background-color: #f3f2fa;*/
    background-color: #f1f1f1;
    width: 20%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 40px;
    word-wrap: normal;
}

.box4 {
    margin-right: auto;
}
.types-of-treatments a{
    padding-top: 60px;
    text-decoration: none;
}

.types-of-treatments h2 {
    padding-top: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    height: 100px;
    color: #310250;
}

.types-of-treatments a h2{
    padding-top: 30px;
    text-align: center;
    font-size: x-large;
    height: 100px;
    color: #310250;
    text-decoration: none;
}

.types-of-treatments p {
    color: #310250;
}

.types-of-treatments img {
    height: 50px;
    width: 50px;
}
/*----------------------- Jumbotron -----------------------*/

.ins {
    color:white !important;
    background: rgb(0,48,217);
    background: linear-gradient(52deg, rgba(0,48,217,1) 12%, rgba(28,96,231,1) 28%,
    rgba(4,103,237,1) 39%, rgba(91,152,224,1) 58%, rgba(90,118,227,1) 71%,
    rgba(107,98,223,1) 82%, rgba(89,85,208,1) 90%);

}
.insurance {
    margin-top: 20px;
}

.insurance {
    text-align: center;
    font-weight: bolder;
    /*color: #360860*/
    color: white;
}

.spacing li{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
}


/*-----------------------           -----------------------*/

/*----------------------- Footer -----------------------*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

/*-----------------------        -----------------------*/
